/* // navbar style  */

.navbar {
  background-color: #f1f3ff;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  width: 100%;
  top: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

li {
  list-style-type: none;
}

.company-logo {
  font-size: 16px;
}

#tes {
  margin-top: 1200px;
}

.hero-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f3ff;
  width: 100%;
  padding-top: 2rem;
}

.fw-bold {
  font-weight: bold;
}

.fs-hero {
  font-size: 36px;
}

.hero-text {
  padding-left: 11rem;
  width: 50%;
}

.section-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 2rem;
  top: 0%;
  
}

.anak-section-1{
  width: 40%;

}

li{
  margin: 1rem;
  
}
.section-2{
  display: flex;
  

}
.why-us{
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3rem 2rem;

}
.section-content-a{
  
  width: 268px;
  height: 196px;
  justify-content: center;
  align-items: flex-start;
  background-color: green;
  flex-direction: column;
  padding: 24px;
  gap: 16px;

}

.section-content-b{
  width: 268px;
  height: 196px;
  justify-content: center;
  align-items: flex-start;
  background-color: green;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background-color: red
}
.section-content-c{
 
  width: 268px;
  height: 196px;
  justify-content: center;
  align-items: flex-start;
  background-color: green;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background-color: yellow
}

.section-content-d{
  
  width: 268px;
  height: 196px;
  justify-content: center;
  align-items: flex-start;
  background-color: green;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background-color: purple;
}
#content{
display: flex;
margin: auto;
justify-content: center;
align-items: center;
}

.float{


}